---
layout: default
title: About

hero:
  title: Our Story
  subtitle: Passionate About Health
  paragraph: Founded by Yousri Soliman, The Solimans was created with a vision to offer nutritious, flavorful meals that support your wellness goals without compromising on taste. Whether you're looking for a quick, healthy option or a meal plan that fits your lifestyle, we’re here to make healthy eating easy and enjoyable. We’re committed to quality, and each dish is crafted with care, using only the finest ingredients to nourish both your body and soul.
  cta_url: "https://wa.me/6282145390784?text="
  cta_text: "LET’S TALK"
  whatsapp_message: Hi! I’m interested in learning more about your meal plans. Can you provide more information?
  secondary_url: "/meal-plan/"
  secondary_text: "Start your plan"
  image: "/images/team/DSC05981.JPG"
  image_alt: "Hero meal"

features:
  kicker: "The Visionary"
  title: "Yousri Soliman"
  items:
    - title: The Passion Behind The Solimans
      paragraph:  "Yousri Soliman is the heart and soul of The Solimans. With a deep passion for health and wellness, he founded the restaurant with the vision of creating a place where people can enjoy nutritious, flavorful meals that support their well-being. Driven by a commitment to quality and a love for food, Yousri’s dedication shines through every dish served at The Solimans."
    - title: A Vision for Healthy Living
      paragraph: "The Solimans was born from Yousri Soliman’s vision of making healthy eating both accessible and enjoyable. Drawing from his experience and passion for creating nourishing meals, Yousri set out to build a brand that prioritizes quality ingredients and customer satisfaction. His mission is simple: to offer meals that help people feel their best without compromising on flavor."
    - title: Crafting Healthy, Flavorful Meals
      paragraph: "With a lifelong passion for food and nutrition, Yousri Soliman founded The Solimans with the goal of transforming how people experience healthy eating. By combining his expertise and love for great food, Yousri created a space where health-conscious individuals can enjoy delicious, wholesome meals that cater to various dietary needs."
  images:
    - image: "/images/story4.jpg"
    - image: "/images/story2.jpeg"
    - image: "/images/story.jpg"

banner:
  title: "Big Things Are Coming!"
  subtitle: "Stay tuned and be part of the exciting journey ahead."
  image: "/images/customers/P1220101.JPG"
  button_url: "/meal-plan-request"
  button_text: "START YOUR JOURNEY"

---

{% include hero.html %}
{% include features.html %}
{% include image-banner.html %}


