---
layout: default
title: Meal Plan

hero:
  title: Meal Plans
  subtitle: Designed for You
  paragraph: At The Solimans, we understand that every individual has unique health goals. That's why we offer personalized meal plans, crafted to suit your lifestyle and dietary preferences. Whether you're looking to balance your nutrition, boost your protein intake, or follow a plant-based diet, we’ve got the perfect meal plan for you. Let us help you stay on track with meals that are delicious, nutritious, and designed for your success.
  cta_url: "/meal-plan-request.html"
  cta_text: "START YOUR PLAN"
  image: "/images/7.jpg"
  image_alt: "Hero meal"

how:
  subtitle: "We Craft Meal Plans"
  title: "HOW IT WORKS"
  steps:
    - title: "STEP 1: CHOOSE YOUR PLAN"
      paragraph: "Every week, we offer a variety of meal plans to suit different goals and preferences, including:\n- Balanced\n- High Protein\n- Vegan\n- Custom\nEach menu features five meal options per day, providing you with a total of 15 meals to choose from."
    - title: "STEP 2: MIX & MATCH"
      paragraph: "You can select meals from one menu or mix and match across all the options.\n\nFor example, choose three meals from the Balanced menu, or combine meals from High Protein, Balanced, and Vegan.\n\nThe choice is yours!"
    - title: "STEP 3: ALIGN WITH YOUR GOALS"
      paragraph: "Each meal comes with detailed macros, so you can select meals based on your daily calorie and macronutrient goals.\n\nWhether you’re aiming to balance your intake, increase protein, or follow a plant-based diet, we’ve got you covered."
    - title: "STEP 4: CUSTOM MEAL PLANS"
      paragraph: "Need something more specific? Our Custom Plans are tailored just for you.\n\nShare your desired macros, or let us help you identify them, and we’ll create a meal plan that fits your needs.\n\nCustom plans can also accommodate medical requirements or food preferences, ensuring you get meals that are both nutritious and suitable for your lifestyle."
    - title: "DELIVERY"
      paragraph: "We deliver daily from Monday to Saturday in an hour window that we inform you of in advance, and Sunday is our off day.\n\nIf you like to have meals seven days per week, we can deliver Sunday meals on Saturday."
      button:
        text: "SEE DELIVERY SCHEDULE"
        url: "/delivery-schedule/"
        icon: '<i class="fa-solid fa-motorcycle text-xl text-[#919b4a]"></i>'


banner:
  title: "Need More Support?"
  subtitle: "Let Us Help You Figure Out Which Meal Plan is the Perfect Fit For Your Goals!"
  image: "/images/banner.jpg"
  button_url: "/meal-plan-request"
  button_text: "START YOUR JOURNEY"


---
{% include meal/hero.html %}
{% include meal/how-it-works.html %}
{% include image-banner.html %}
{% include meal/menu.html %}
