---
layout: default
title: Meal Plan

hero:
  title: Meal Plans
  subtitle: Designed for You
  paragraph: At The Solimans, we understand that every individual has unique health goals. That's why we offer personalized meal plans, crafted to suit your lifestyle and dietary preferences. Whether you're looking to balance your nutrition, boost your protein intake, or follow a plant-based diet, we’ve got the perfect meal plan for you. Let us help you stay on track with meals that are delicious, nutritious, and designed for your success.
  cta_url: "/meal-plan-request.html"
  cta_text: "START YOUR PLAN"
  image: "/images/7.jpg"
  image_alt: "Hero meal"

how:
  subtitle: "We Craft Meal Plans"
  title: "HOW IT WORKS"
  steps:
    - title: "STEP 1: CHOOSE YOUR PLAN"
      paragraph: |
        Every week, we offer a variety of meal plans to suit different goals and preferences, including:
        - Balanced
        - High Protein
        - Vegan
        - Custom
        Each menu features five meal options per day, providing you with a total of 15 meals to choose from.
    - title: "STEP 2: MIX & MATCH"
      paragraph: |
        You can select meals from one menu or mix and match across all the options.

        For example, choose three meals from the Balanced menu, or combine meals from High Protein, Balanced, and Vegan.

        The choice is yours!
    - title: "STEP 3: ALIGN WITH YOUR GOALS"
      paragraph: |
        Each meal comes with detailed macros, so you can select meals based on your daily calorie and macronutrient goals.

        Whether you’re aiming to balance your intake, increase protein, or follow a plant-based diet, we’ve got you covered.
    - title: "STEP 4: CUSTOM MEAL PLANS"
      paragraph: |
        Need something more specific? Our Custom Plans are tailored just for you.

        Share your desired macros, or let us help you identify them, and we’ll create a meal plan that fits your needs.

        Custom plans can also accommodate medical requirements or food preferences, ensuring you get meals that are both nutritious and suitable for your lifestyle.
    - title: "DELIVERY"
      paragraph: |
        We deliver daily from Monday to Saturday in an hour window that we inform you of in advance, and Sunday is our off day.

        If you like to have meals seven days per week, we can deliver Sunday meals on Saturday.
      button:
        text: "SEE DELIVERY SCHEDULE"
        url: "https://www.canva.com/design/DAFZBJDu37w/view"
        icon: '<i class="fa-solid fa-motorcycle text-xl text-[#919b4a]"></i>'
    - title: "PRICING"
      paragraph: |
        Our regular meal plan is priced at 100K per meal. The minimum order is two meals per day, and you can choose five to seven days per week.

        We offer flexibility, so you can pause your plan anytime by contacting our team. For extra protein or a fully customized meal plan, the price may vary depending on your requirements.

        To calculate your weekly price, simply multiply 100K by the number of meals you choose per week.

        If you need to cancel or pause a meal, please inform us at least 24 hours in advance, as preparation may already be in progress.
      button:
        text: "GET HELP WITH PRICING"
        cta_url: "https://wa.me/6282145390784"
        whatsapp_message: "Hi! I’m interested in the meal plan and would like help calculating the price.\nMeals per day:\nDays per week:"
        icon: '<i class="fa-solid fa-tag text-xl text-[#919b4a]"></i>'

banner:
  title: "Need More Support?"
  subtitle: "Let Us Help You Figure Out Which Meal Plan is the Perfect Fit For Your Goals!"
  image: "/images/customers/meal.webp"
  button_url: "/meal-plan-request.html"
  button_text: "START YOUR JOURNEY"
---

{% include meal/hero.html %} {% include meal/how-it-works.html %} {% include
image-banner.html %} {% include meal/menu.html %}
