<footer class="max-w-screen-2xl mx-auto">
  <!-- Image Section -->
  <div class="grid grid-cols-3 sm:grid-cols-4 gap-0">
    <img src="/images/temp-img.png" alt="" class="w-full h-auto aspect-square object-cover">
    <img src="/images/temp-img.png" alt="" class="w-full h-auto aspect-square object-cover">
    <img src="/images/temp-img.png" alt="" class="w-full h-auto aspect-square object-cover">
    <img src="/images/temp-img.png" alt="" class="w-full h-auto aspect-square object-cover hidden sm:block">
  </div>

  <!-- Footer Content -->
  <div class="container mx-auto px-4 sm:px-6 lg:px-12 xl:px-20 py-10 sm:py-16 lg:py-24">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Branding -->
      <div class="md:col-span-2">
        <h3 class="title">The Solimans</h3>
        <p class="subtitle pt-2">Fuel For Champions</p>
      </div>

      <!-- Links Section -->
      <div class="flex flex-col md:flex-row justify-center md:justify-end items-start md:items-center space-y-4 md:space-y-0 md:space-x-6 text-left">
        <a href="/mealplans.html" class=" whitespace-nowrap block hover:text-[#919b4a]">Meal Plan</a>
        <a href="/restaurant.html" class=" block hover:text-[#919b4a]">Restaurant</a>
        <a href="#about-us" class=" block hover:text-[#919b4a]">About</a>
        <a href="#contact" class=" block hover:text-[#919b4a]">Contact</a>
        <a href="https://www.instagram.com/the_solimans/" target="_blank" rel="noopener noreferrer" aria-label="Link to The Solimans' Instagram">
          <i class="fa-brands fa-instagram text-white text-lg hover:text-gray-400"></i>
        </a>
      </div>
    </div>

    <!-- Bottom Footer Text -->
    <div class="mt-10 text-gray-300 pt-4">
    <p>&copy; <span id="current-year"></span> The Solimans. All rights reserved.</p>
    <a href="https://refinedislandcreations.com/" class="pt-2 block text-sm" target="_blank" rel="noopener noreferrer" aria-label="Link to Refined Island Creations website design and development">
        Designed and built by <span class="underline font-semibold">Refined Island Creations</span>.
    </a>
</div>
  </div>
</footer>