<section class="max-w-screen-2xl mx-auto">
    <!-- Image Section -->
    <div class="grid grid-cols-3 sm:grid-cols-4 gap-0">
      <img src="/images/menu/newmenu/Avocado Egg Crunch.jpeg" alt="" class="w-full h-auto aspect-square object-cover">
      <img src="/images/menu/newmenu/Bolognese Pasta GF.jpeg" alt="" class="w-full h-auto aspect-square object-cover">
      <img src="/images/menu/newmenu/Chicken Yam Yam.jpeg" alt="" class="w-full h-auto aspect-square object-cover">
      <img src="/images/menu/newmenu/Lean Beef Tacos.jpeg" alt="" class="w-full h-auto aspect-square object-cover hidden sm:block">
    </div>
</section>