<section class="max-w-screen-2xl mx-auto">
    <!-- Image Section -->
    <div class="grid grid-cols-3 sm:grid-cols-4 gap-0">
      <img src="/images/temp-img.png" alt="" class="w-full h-auto aspect-square object-cover">
      <img src="/images/temp-img.png" alt="" class="w-full h-auto aspect-square object-cover">
      <img src="/images/temp-img.png" alt="" class="w-full h-auto aspect-square object-cover">
      <img src="/images/temp-img.png" alt="" class="w-full h-auto aspect-square object-cover hidden sm:block">
    </div>
</section>