<!doctype html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ site.title | default: "The Solimans" }}</title>

  {% include head.html %}

  <!-- Init theme -->

</head>
<body class="font-sans bg-white text-slate-900 dark:bg-neutral-950 dark:text-slate-100 antialiased">
  {% include header.html %}

  <main class="min-h-[70vh]">
    {{ content }}
  </main>

  {% include footer.html %}


</body>
</html>
